###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
###############################################################################
# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.json text elo=crlf

