################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
DahlDesignDDUDev/_Backups
DahlDesignDDUDev/_Backups/*
